<!DOCTYPE html>
<html>

<head>
    <title>Chat Geral</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="mt-5">Chat Geral</h1>
        <div id="chat" class="mt-3">
            <ul id="messages" class="list-group"></ul>
            <input id="message_input" class="form-control" autocomplete="off" />
            <button id="send" class="btn btn-primary mt-2">Enviar</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/webChat');
        var message_input = document.getElementById("message_input");
        var send_button = document.getElementById("send");
        var messages = document.getElementById("messages");

        send_button.onclick = function () {
            socket.emit('message', message_input.value);
            message_input.value = '';
        };

        socket.on('message', function (message) {
            var li = document.createElement('li');
            li.className = "list-group-item";
            li.appendChild(document.createTextNode(message));
            messages.appendChild(li);
        });
    </script>
</body>

</html>