<!DOCTYPE html>
<html>
<head>
    <title>Seller Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="sellerChart"></div>

    <script>
        // Fetch seller data from your Flask API
        fetch('/api/seller_data')
            .then(response => response.json())
            .then(data => {
                const trace1 = {
                    x: data.months,
                    y: data.total_value,
                    type: 'bar',
                    name: 'Total Value'
                };

                const trace2 = {
                    x: data.months,
                    y: data.quantity_of_sales,
                    type: 'bar',
                    name: 'Quantity of Sales'
                };

                const layout = {
                    barmode: 'group',
                    title: 'Seller Rankings and Sales Data'
                };

                Plotly.newPlot('sellerChart', [trace1, trace2], layout);
            });
    </script>
</body>
</html>
