<!DOCTYPE html>
<html>
<head>
    <title>Perfil do Vendedor</title>
    <!-- Adicione o link para o Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">Perfil {{ nome }}</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <!-- <h4>Nome: </h4> -->
                        
                        <!-- Campo de senha para o usuário inserir -->
                        {% if senha != senhaSystem[nome] %}
                        <form method="post">
                            <label for="senha">Senha: </label>
                            <input type="password" id="senha" name="senha" required>
                            <button type="submit">Acessar</button>
                        </form>
                        {% endif%}
                        <!-- Verificar a senha antes de exibir os dados -->
                        {% if request.method == 'POST' %}
                            {% if senha == senhaSystem[nome] %}
                                <p>Total Vendido: {{ totalVendido }}</p>
                                <p>Quantidade de Vendas: {{ qtdVendas }}</p>
                                <p>Quantidade de Portas: {{ qtdPortas }}</p>
                                <p>Clientes Atendidos: <a data-toggle="collapse" href="#clientesCollapse" aria-expanded="false" aria-controls="clientesCollapse">({{ qtdClientes }})</a></p>
                                <div class="collapse" id="clientesCollapse">
                                    <ul>
                                        {% for chave in clientesName %}
                                            <li>
                                                {{ chave }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <p>Acesso negado. Senha incorreta.</p>
                            {% endif %}
                        {% endif %}
                        
                    </div>
                    <div class="col-md-6">
                        <h4>Ranks:</h4>
                        <p>Top Patrimônio: {{ rank_value }}º</p>
                        <p>Top Número de Vendas: {{ rank_vendedor }}º</p>
                        <p>Top Porteiro: {{ rank_porteiro }}º</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Adicione o link para o Bootstrap JS e jQuery se necessário -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
